:root {
    // MAIN COLORS
    --accent-color: #a18a68;
    --black-color: #000000;
    --white-color: #ffffff;

    // NEUTRAL COLOR
    --dark-gray: #707070;
    --gray: #d8d8d8;
    --light-gray: #efefef;

    // SERVICE COLOR
    --error-color: #d82700;

    --slider-handle-width: 0.3rem;
    --slider-handle-height: 2rem;
    --slider-handle-bg: var(--black-color);
    --slider-connect-bg: var(--black-color);
    --slider-bg: var(--gray);
    --slider-radius: 0;
}
