:root {
    // MAIN COLORS
    --accent-color: #a18a68;
    --black-color: #000000;
    --white-color: #ffffff;

    // NEUTRAL COLOR
    --dark-gray: #707070;
    --gray: #d8d8d8;
    --light-gray: #efefef;

    // SERVICE COLOR
    --error-color: #d82700;
}
