// TEXT UTULITIES
.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justity {
    text-align: justify;
}

.error-text {
    color: var(--error-color);
}

.accent-text {
    color: var(--accent-color);
}

.dark-gray-text {
    color: var(--dark-gray);
}

// POSITION UTILITIES
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

// FLEX UTILITIES
.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.content-center {
    justify-content: center;
}

// WIDTH PROPERTIES
.w-100 {
    width: 100%;
}

// DISPLAY PROPERTIES
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.hide-on-desktop {
    display: block;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.hide-on-mobile {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

// PAGE UTILITIES
.page-layout-margin {
    margin-top: 7.1rem;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        margin-top: 9.6rem;
    }
}

.page__title {
    text-transform: capitalize;

    @media screen and (min-width: 768px) {
        text-align: center;
    }
}