.navigation__link {
    &:visited,
    &:link {
        transition: all 0.2s;
        text-decoration: none;
    }
    
    &--dark {
        color: var(--color-black);

        &:hover {
            color: var(--dark-gray);
        }
    }

    &--light {
        color: var(--dark-gray);

        &:hover {
            color: var(--color-black);
        }
    }

    &--accent {
        color: var(--accent-color);
    }
}
